<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ZEN</title>
    <link type="text/css" rel="stylesheet" href="../css/zen/zen_home.css">
    <link rel="shortcut icon" href="../imgs/ying-yang.png">
  </head>
  <body>

    <%- include("../partials/nav.ejs");  %> 

    <h1>ZEN</h1>
    <h3>Zen mode is a mode where you can practice and test your times tables skills without</h3>
    <h3>having to worry about the question updating whilst you answer</h3>
    <br>
    <h3>To update the question simply press <kbd>ENTER</kbd> and the computer shall comply</h3>
    <h3>Zen mode can also show you the average time it takes you to answer a question if "Show stats" is checked</h3>
    <a href="play_zen">
      <button class="play" type="button" name="button">
        <img src="../imgs/ying-yang.png" alt="" class="button-img">
        Play zen mode
      </button>
    </a>
  </body>
</html>
