<button type="button" name="button" onclick="pause()">
	<img class="btn-img" src="../imgs/pause.png" alt="">
</button>
	
<div class="playing-panel">

	<div id="question">
	    <h2 id="ques">1 x 1</h2>
        <input id="ans" type="number">
    </div>
    <div id="loseMess">
	    <h1 id="score" class="small">Current score: 0</h1>
	    <h2 id="emojis"></h2>
	</div>

</div>