<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LEVELS</title>
    <link type="text/css" rel="stylesheet" href="../css/levels/level_home.css">
    <link type="text/css" rel="stylesheet" href="../css/nav.css">
    <link type="text/css" rel="shortcut icon" href="../imgs/levels.png">
  </head>
  <body>

    <%- include("../partials/nav.ejs"); %> 

    <div id="all">
      <h1>LEVELS</h1>
      <h3>Welcome to the levels! An excellent way to get better at times tables whilst getting extreamly fustrated!</h3>
      <h3>Each level will generate times tables up to twelve but at different intervals of time</h3>
      <h3><ul>Eg:
            <li style="list-style-type: none;">Level 1 = 10 sec per question</li>
            <li style="list-style-type: none;">Level 2 = 8 sec per question</li>
            <li style="list-style-type: none;">etc...</li>
          </ul>
      </h3>
      <h3>You are allowed three wrong answers (strikes) before it stops</h3>
      <h3>However math questions will just keep coming as long as you answer correctly </h3> 
      <h3>so its up to you to decide when you're ready to move on</h3>
      <h3>Have fun!</h3>
      <div class="olLevels">
        <ol>
            <a href="level1">
              <button class="level-item">Level 1</button>
            </a>
            <a href="level2">
              <button class="level-item">Level 2</button>
            </a>
            <a href="level3">
              <button class="level-item">Level 3</button>
            </a>
            <a href="level4">
              <button class="level-item">Level 4</button>
            </a>
            <a href="level5">
              <button class="level-item">Level 5</button>
            </a>
        </ol>
      </div>
    </div>
  </body>
</html>
