<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">
	<title>Level <%= level_n %> </title>
	<link type="text/css" rel="stylesheet" href="../css/levels/play_level.css">
	<link rel="stylesheet" href="../css/playing_panel.css">
	<link rel="stylesheet" href="../css/pause.css">
	<script src="../js/jquery.js"></script>
	<script defer src="../js/levels/script.js"></script>
	<script defer src="../js/audio.js"></script>
	<script defer src="../js/pause.js"></script>

</head>

<body>

	<!-- lol this was the only way i could do this -->
	<p style="display: none;" id="time"><%= level_time %></p>

	<%- include("../partials/pause.ejs"); %> 
	<%- include("../partials/playing_panel.ejs"); %> 

	<script>
		const time = Number($("#time").text());
	</script>

</body>

</html>