<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>HOME</title>
  <link type="text/css" rel="stylesheet" href="css/index.css">
  <link type="text/css" rel="stylesheet" href="css/nav.css">
  <link type="text/css" rel="shortcut icon" href="imgs/house.png">
</head>

<body>

  <%- include("../partials/nav.ejs"); %>

  <div class="content">
    <h1 class="Bigtitle">WELCOME TO SPACE SHIP MATHS CENTRAL</h1>
    <h1 class="Bigtitle">V2.0!</h1>
    <h2>A place to practice your times tables whilst (hopefully) having fun</h2>
  </div>
</body>

</html>