<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CUSTOM</title>
    <link type="text/css" rel="stylesheet" href="../css/custom/custom_home.css">
    <link type="text/css" rel="stylesheet" href="../css/nav.css">
    <link type="text/css" rel="shortcut icon" href="../imgs/custom.png">
  </head>
  <body>

    <%- include("../partials/nav.ejs") %> 

    <h1 style="font-size: 2.5em;">CUSTOM</h1>
    <h3>Custom mode is the mode where you decide on the rules !</h3>
    <h3>You get to choose the mode, interval of seconds, maximum number up until which times tables will generate </h3>
    <h3> and the amount of questions you can get wrong before the game ends</h3><br>
    <h3>On the loading of the page, you willbe greeted with the starting screen where you can define the rules of the game.</h3>
    <h3>When ready press the "Ready" button and off you go !</h3>
    <h3>So head on over there and have fun !</h3>
    <a href="../custom/custom_start">
      <button type="button" name="button">
        <img src="../imgs/custom.png" alt="" class="button-img">
        Play custom mode 
      </button>
    </a>
  </body>
</html>
