<!DOCTYPE HTML>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <title>Custom level</title>
  <link rel="stylesheet" href="../css/custom/custom_start.css">
  <script src="../js/jquery.js"></script>
</head>

<body>

  <form action="custom_start" method="post" class="start">

    <h3 style="font-size: 2.5em;"> Select settings : </h3>

    <br>

    <label for="seconds">Interval seconds : </label>
    <input id="seconds" type="number" name="seconds" value=""><br>

    <br>

    <label for="max">Max number up until which times tables will generate :</label>
    <input id="max" type="number" name="max" value=""><br>

    <br>

    <label for="mode">Mode : </label>
    <select id="mode" class="mode" name="mode" style="width: 10%;">
      <option value="0" selected="selected">Infinite : It just never ends</option>
      <option value="1">Strikes : A certain amount of strikes and your out</option>
      <br>
    </select>

    <br>
    <br>    

    <div class="strikes-wrapper">
      <label for="strikes">Number of strikes : </label>
      <input id="strikes" type="number" name="strikes" value="3">
    </div>

    <br>

    <button type="submit" class="submit">I'm Ready!</button>

  </form>

  <script>

    $(".mode").change(function() {
      let selected = $(this).val();
      let strikesInput = $(".strikes-wrapper");

      if (selected === "1") {
        strikesInput.show();
      } else {
        strikesInput.hide();
      }
    });

  </script>

</body>

</html>